<% for (var i = 0; i < bottles.length;  i++ ) { %>           
    <div class="card bg-dark text-white" id="bottle_<%=i%>" style="width: 320px;margin: 10px;">
        <img style="margin: 2px;" id="bottle_<%=i%>_photo" class="card-img-top-shrink" src="<%= bottles[i].photo %>">
        <div class="card-header">
            <h5 class="card-title" id="bottle_<%=i%>_name" ><%= bottles[i].name %></h5>
            <p class="card-text" id="bottle_<%=i%>_head_distillerie"><%= bottles[i].distillerie %></p>
        </div>        
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <p class="card-text bg-dark text-left text-white" id="bottle_<%=i%>_age">Age : <%= bottles[i].age %> an(s)</p>
                </div>
                <div class="col-sm-6">
                    <p class="card-text bg-dark text-right text-white" id="bottle_<%=i%>_alcool">Alcool : <%= bottles[i].alcool %> %</p>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush bg-dark text-white">
            <li class="list-group-item bg-dark text-white" id="bottle_<%=i%>_distillerie"style="display: none;">Nom du domaine : <%= bottles[i].distillerie %></li>
            <li class="list-group-item bg-dark text-white" id="bottle_<%=i%>_address"style="display: none;">Adresse : <%= bottles[i].address %></li>
            <li class="list-group-item bg-dark text-white" id="bottle_<%=i%>_message"style="display: none;">Message : <%= bottles[i].message %></li>
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-secondary float-left" data-toggle="modal" data-target="#modalModifyForm" onclick="fillModalEdit(<%=i%>)">Edit</button>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn btn-danger float-left" onclick="removeBottleQty(<%=i%>)">-</button>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="text-center" style="margin-top: 5px;" id="bottle_<%=i%>_qty" ><%=bottles[i].qty%></h5>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-success float-right" onclick="addBottleQty(<%=i%>)">+</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-secondary float-right" id="bottle_<%=i%>_show" onclick="modalShowDescription(<%=i%>)">Show</button>
                </div>
            </div>
        </div>
    </div>
<% } %>