<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
    <body onload="addFilters(<%=JSON.stringify(bottles)%>)">
        <%- include('../partials/nav.ejs') %>
        <%- body %>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>