<!-- Main jumbotron for a primary marketing message or call to action -->


<script type="text/javascript" >
    savedDatabase = `<%- JSON.stringify(bottles) %>`;
</script>
<div class="jumbotron" >
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-3" id="db"><%= bottleTitre %></h1>
                <h5 class="display-5" id="title_nb_types_bottles">Nombre de type de bouteilles : <%= bottles.length%></h5>
                <h5 class="display-5" id="title_nb_bottles">Nombre de bouteilles : <%= test %></h5>
            </div>
            <div class="col-md-4">
                <img src=<%= bottleImage %>  width="300" height="200"/>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" style="diplay" id="dropdownFilterGenreButton"type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</button>
                <div class="dropdown-menu" id="dropdownFilterGenreButtonItems"aria-labelledby="dropdownMenuButton">
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" style="diplay" id="dropdownFilterPaysButton" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pays</button>
                <div class="dropdown-menu" id="dropdownFilterPaysButtonItems"aria-labelledby="dropdownMenuButton">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" style="diplay" id="dropdownFilterNoteButton" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Note</button>
                <div class="dropdown-menu" id="dropdownFilterNoteButtonItems"aria-labelledby="dropdownMenuButton">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </br>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalAddForm" onclick="openCamera()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
        </div>
        <div class="col-md-4">
            <p class="statusMsg"> <%= error %></p>
        </div>
    </div>
    <%- include('./partials/modal_add.ejs') %>
    <%- include('./partials/modal_modify.ejs') %>
</div> <!-- /container  %>-->
<p></p>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-my-1">
            <button class="btn btn-secondary float-right" id="page_minus" onclick="pageMinus()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
            </svg>
        </div>
        <div class="col">
            <h4 class="display-5 text-center" id="page_number">1 / <%= Math.ceil(bottles.length/4) %></h4>
        </div>
        <div class="col-my-1">
            <button class="btn btn-secondary float-right" id="page_plus" onclick="pagePlus()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
            </svg>
        </div>
    </div>
</div>

<div class="container-fluid mb-10">
    <div class="row justify-content-center" id="container_bottles">
        <!-- -->
        <%- include('./partials/bottle_list2.ejs') %>
    </div>
</div>