<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron" >
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src=<%= bottleImage %>  width="300" height="200"/>
            </div>
            <div class="col-md-8">
                <h1 class="display-3" id="db"><%= bottleTitre %></h1>
                <h5 class="display-5" id="title_nb_types_bottles">Nombre de type de bouteilles : <%= bottles.length%></h5>
                <h5 class="display-5" id="title_nb_bottles">Nombre de bouteilles : <%= test %></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="statusMsg"> <%= error %></p>
        </div>
    </div>
</div><!-- Light circle button with ripple effect -->
<div class="fixed-bottom">
    <button type="button" class="btn btn-warning btn-circle btn-xl" data-toggle="modal" data-target="#modalAddForm" onclick="openCamera()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
</div>


<div class="fixed-top-custom w-100">
    <div class="row text-center">
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary-custom dropdown-toggle" type="button" id="dropdownFilterGenreButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</button>
                <div class="dropdown-menu dropdown-menu-dark" id="dropdownFilterGenreButtonItems"aria-labelledby="dropdownMenuButton">
                </div>
              </div>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary-custom dropdown-toggle" id="dropdownFilterPaysButton" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pays</button>
                <div class="dropdown-menu dropdown-menu-dark" id="dropdownFilterPaysButtonItems"aria-labelledby="dropdownMenuButton">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary-custom dropdown-toggle" id="dropdownFilterNoteButton" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Note</button>
                <div class="dropdown-menu dropdown-menu-dark" id="dropdownFilterNoteButtonItems"aria-labelledby="dropdownMenuButton">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </br>
    </div>
    <%- include('./partials/modal_add.ejs') %>
    <%- include('./partials/modal_modify.ejs') %>
</div> <!-- /container  %>-->

<div class="container" id="myScroll">
    <div class="row justify-content-center" id="container_bottles">
        <!-- <%- include('./partials/bottle_list3.ejs') %>-->
    </div>
</div>