<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-3" id="db"><%= bottleTitre %></h1>
                <h5 class="display-5" id="title_nb_bottles">Il y a <%= test %> bouteilles.</h5>
            </div>
            <div class="col-md-4">
                <img src=<%= bottleImage %>  width="300" height="200"/>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalAddForm" onclick="openCamera()">
                Ajouter
            </button>
        </div>
        <div class="col-md-4">
            <p class="statusMsg"> <%= error %></p>
        </div>
    </div>
    <%- include('./partials/modal_add.ejs') %>
    <%- include('./partials/modal_modify.ejs') %>
</div> <!-- /container  %>-->
<p></p>
<div class="container" >  
    <div class="container-flex justify-content-center" >    
        <div class="row" id="container_bottles">   
            <%- include('./partials/bottle_list.ejs') %>
        </div>
    </div>
</div>







